<div class="card-list-container py-5">
  <div class="card w-50 mx-auto mt-4 shadow-lg">
    <%= image_tag @post.get_image, class: "card-img-top"; %>
    <div class="card-body">
      <div class="row">

        <div class="col-10">
          <p class="card-title">
            店舗名：<%= @post.shop_name %>
          </p>
          <p class="card-text">
            コメント：<%= @post.caption %>
          </p>
          <p>投稿ユーザー画像：<%= image_tag @post.user.get_profile_image(100,100) %></p>
          <p>ユーザーネーム：<%= @post.user.name %></p>
          <p>投稿日：<%= @post.created_at.strftime('%Y/%m/%d') %></p>
          <%= link_to "編集", edit_post_path(@post.id) %>
          <% if @post.user == current_user %>
            <%= link_to "削除", post_path(@post), method: :delete %>
          <% end %>
          <% if @post.favorited_by?(current_user) %>
            <p>
              <%= link_to post_favorite_path(@post), method: :delete do %>
                ♥<%= @post.favorites.count %> いいね
              <% end %>
            </p>
            <% else %>
            <p>
              <%= link_to post_favorite_path(@post), method: :post do %>
                ♡<%= @post.favorites.count %> いいね
              <% end %>
            </p>
        </div>
      </div>

  </div>
  <% end %>
</div>
